@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:wght@300;400;500&family=Bodoni+Moda:opsz@6..96&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
    color: #33291c;
  }

  h1,
  h2 {
    font-family: "Italiana", serif;
    color: #33291c;
  }

  .faq-answer {
    white-space: pre-line;
  }
}
